.container {

    background-image: url("https://fondosmil.com/fondo/12144.jpg");
    background-size:calc(100% - 10px);
    /* background-repeat: no-repeat; */
    width: 100%;
    height: 1200px;

    width: 100%;
    height: 600px;
    overflow-y: scroll;
    scroll-behavior: smooth;
}



.mainCard {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;


}

.fixed {
    position: fixed;
    width: 100%;

}

.navbar {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
    text-align: center;
    padding: 6px 0px;
    list-style: none;

}

.allPokemons {
    height: 43px;
    background-color: rgba(248, 216, 36, 0.836);
    color: rgb(27, 19, 19);
    font-size: medium;
    border: 3px solid rgba(15, 15, 15, 0.596);
    border-radius: 8px;
    margin-top: 1px;
    margin-right: 3px;
    cursor: pointer;
}

.allPokemons:hover {
    background-color: #90898910;
    color: rgb(255, 254, 254);
}

.contentSelect select {
    cursor: pointer;
    padding: 7px 0px;
    height: 42px;
    font-size: 1em;
    color: rgb(255, 253, 253);
    background-color: rgba(0, 0, 0, 0.545);
    border: 3px solid rgba(15, 15, 15, 0.596);
    border-radius: 8px;
    transition: all 0.25s ease;


}



.welcome {
    padding-bottom: 20px;
}

.btnAllRecipes {

    height: 43px;
    border: solid;
    border-color: lightgray;
    background-color: rgb(255, 130, 28);
    color: rgb(52, 48, 48);
    font-size: medium;
    border-radius: 8px;
    margin-top: 1px;
    margin-right: 3px;
    cursor: pointer;
}



.inputSearch {
    background-color: #ffffff;
    border-radius: 4px;
    border-color: transparent;
    margin: 10px;
    width: 400px;


}

.btnSearch {
    position: relative;

    left: 0px;
    background-color: rgb(226, 220, 217);
    border: 1px solid rgb(234, 123, 13);
    color: white;
    font-size: auto;
    padding: 0px;
    text-decoration: center;
    width: 100px;
    height: 20px
}

.containerInput {
    position: relative;
    left: 500px;
    top: 50px;
    background-color: green;


    /* padding: 12px 20px; */

    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.noImage {
    color: white
}
.btnBuscar{
height: 43px;
    background-color: rgba(248, 216, 36, 0.836);
    color: rgb(27, 19, 19);
    font-size: medium;
    border: 3px solid rgba(15, 15, 15, 0.596);
    border-radius: 8px;
    margin-top: 1px;
    margin-right: 3px;
    cursor: pointer;
}

.btnBuscar:hover {
    background-color: #90898910;
    color: rgb(255, 254, 254);
}
.inputBuscar{
    width:120px;
}