.ul{
    margin-top: 100px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
 
    padding-bottom: 20px;
}
 
.ul li{
    display: inline-block;
    padding: 10px;
    margin: 0;
    border: 2px solid rgb(242, 131, 4);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    color: #000;
    cursor: pointer;
    margin:4px;
  

}
.ul li:hover{
    background-color: rgb(242, 131, 4);
    transform: scale(1.10);
    color: rgb(251, 251, 251);
}
