.container{
    background-image: url("https://fondosmil.com/fondo/14733.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
   
   
}
.todo {
  position: relative;
  border: 2px solid rgb(145, 136, 136);
  border-radius: 20px;
  padding: 20px;
  top: 10px;
  left: 5%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  height: 18%;
  background-image: url("https://st2.depositphotos.com/38951590/42199/v/450/depositphotos_421993904-stock-illustration-sound-waves-oscillating-dark-blue.jpg");

}

.textCreate {

  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;
  font-size: 30px;
  position: relative;
  top:5px;
  bottom: 40px;
  left: 90px;



}



.label {
  
  color: white;
  font-size: medium;
  margin: 20px
}
.labelAttack{
  color: black;
    font-size: medium;
    margin: 20px
  }

.input {
  position: relative;
  left: 25px;
  background-color: #ffffff;
  border-radius: 4px;
  border-color: transparent;
  margin: 10px;
  width: 400px;
  


}


.temperaments {
  position: relative;
  left: 90px;
  background-color: rgb(255, 106, 19);
  border: 2px solid rgb(10, 9, 8);
  color: white;
  font-size: 18px;
  padding: 5px;
  text-decoration: center;
  width: 200px;
  height: 30px
}

.containtAtributtes {
  position: relative;
  left: 90px;
  background-color: rgb(255, 106, 19);
  border: 2px solid rgb(10, 9, 8);
  color: rgb(15, 14, 14);
  font-size: 18px;
  padding: 5px;
  text-decoration: center;
  width: 200px;
  height: 30px
}
.typesDelete{
  display: flex;
  flex-direction:row; 
}
.error{
 margin-left: 50px;
  width: 200px;
  
 
  color: red;
 
  font-size: 15px;
  position: relative;
  top: -10px;
  left: -10px;
  background-color: rgba(255, 229, 182, 0.288);
}
.btnVolver{
  color: rgb(252, 244, 244);
}
.option1{
  color: white
}
.textDelete{
  

 
  text-transform: capitalize;
  display: inline-block;
  height: -0px;

  text-indent: 20px;
  color: black;
  
}
.btnCreate{
  position: relative;
  left: 150px;
  background-color: black;
  border: 2px solid white;
  color: white;
  font-size: 15px;
  padding: 5px;
  text-decoration: center;
  width: 200px;
  height: 30px
}
.btnCreate:hover{
  transform: scale(1.2);
}